DATABASE_URL='url here!
AZURE_FOUNDRY_URL='url here!
AZURE_FOUNDRY_API_KEY='key here!
GEMINI_API_KEY='key here!

takes fallbacks so u only need one of the two gemini or azure (check ai.py to see if the call is correct for ur key)